#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    width: 400px;
    height: 400px;
    background-color: bisque;
}

.tile {
    width: 50px;
    height: 50px;
    color:white;
}

.black-tile {
    background-color: #000000;
}

.white-tile {
    background-color: #e1e1e1;
}