#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 75px);
    grid-template-rows: repeat(8, 75px);
    width: 600px;
    height: 600px;
    background-color: bisque;
}

.tile {
    width: 75px;
    height: 75px;
    color:white;
}

.black-tile {
    background-color: #86cc64;
}

.white-tile {
    background-color: #d0d0d0;
}